.wrap {
    content: "";
    clear: both;
    display: table;
}

.wrap2 {
    content: "";
    clear: both;
    display: table;
}


.image1 {
    float: left;
    width: 47%;
    padding: 5px;
}

.image2 {
    float: right;
    width: 47.00%;
    padding: 5px; 
}

.image3 {
    float: left;
    width: 47.0%;
    padding: 5px;
}

.image4 {
    float: right;
    width: 47.00%;
    padding: 5px;
}

.shortdesc {
 font-size: small;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: black;
 font-style: italic;
}

.desc {
    padding-top: 1px;
    padding-bottom: 50px;
}