.four {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200px;
    text-align: center;
    color: blue;
    margin-top: 1px;
    margin-bottom: 1px;
}

.error {
    color: red;
    text-align: center;
    font-size: 50px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.error1 {
    text-align: center;
    font-size: 50px;
}

.home {
    text-align: center;
}