.btn {
    display: block;
    width: 150px;
    padding: 8px 0;
    margin: 20px auto;
    background: #4979ff;
    border-radius: 4px;
    color: white;
    text-align: center;
    border: 1px solid #4979ff;
}

.btn:hover {
    cursor: pointer;
    border: 1px solid ivory;
}