.title {
    background: -webkit-linear-gradient(#C8323B, #FA0ED2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
    text-align: center;
}

.text {
    color: rgb(255, 255, 255);
    text-align: center;
}

.not-found {
    text-align: center;
}

.not-found a {
    color: #4979ff;
    text-decoration: underline;
}